---
import { Image } from 'astro:assets';
import logo from '@assets/images/logos/tragwaerk-logo.png';

interface Props {
    variant?: 'header' | 'footer' | 'dark';
}

const { variant = 'header' } = Astro.props;

// Determine the appropriate CSS class based on the variant
const getLogoClass = () => {
    switch (variant) {
        case 'header':
            return '';
        case 'footer':
            return '';
        case 'dark':
            return '';
        default:
            return '';
    }
};
---

<a href="/" class:list={['', getLogoClass()]}>
    <Image src={logo} alt="tragwaerk" class="h-10 w-auto" />
</a>
